<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.LivePlayActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.PlayActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.PushActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.FastSearchActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ui.activity.CollectActivity"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
    </application>

</manifest>
